<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              'yellow-99': '#FFFF00',
              'yellow-99-light': '#FFF44F',
              'yellow-99-dark': '#FFD700'
            }
          }
        }
      }
    </script>
  </head>
  <body class="bg-gray-50">
    {% block navbar %}
      {% include 'navbar.html' %}
    {% endblock %}
    
    <!-- bloco para exibir mensagens acima em verde ou vermelho -->
    {% block messages %}
      {% include 'messages.html' %}
    {% endblock %}
    
    {% block content %}{% endblock %}
    
    {% block footer %}
        {% include 'footer.html' %}
    {% endblock %}

    {% block scripts %}{% endblock %}

  </body>
</html>
