<footer class="bg-black text-white py-12">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="grid grid-cols-1 md:grid-cols-4 gap-8">
          <div>
            <img class="h-12 w-auto" src="{{ url_for('static', filename='ifome-amarelo-transparent.png') }}" alt="ifome Logo" />
            <p class="text-gray-400">
              Seu delivery favorito, sempre rápido e saboroso.
            </p>
          </div>
          <div>
            <h4 class="text-lg font-semibold mb-4">Empresa</h4>
            <ul class="space-y-2 text-gray-400">
              <li><a href="#" class="hover:text-yellow-99">Sobre nós</a></li>
              <li><a href="#" class="hover:text-yellow-99">Carreiras</a></li>
              <li><a href="#" class="hover:text-yellow-99">Imprensa</a></li>
            </ul>
          </div>
          <div>
            <h4 class="text-lg font-semibold mb-4">Suporte</h4>
            <ul class="space-y-2 text-gray-400">
              <li>
                <a href="#" class="hover:text-yellow-99">Central de ajuda</a>
              </li>
              <li><a href="#" class="hover:text-yellow-99">Contato</a></li>
              <li>
                <a href="#" class="hover:text-yellow-99">Termos de uso</a>
              </li>
            </ul>
          </div>
          <div>
            <h4 class="text-lg font-semibold mb-4">Parceiros</h4>
            <ul class="space-y-2 text-gray-400">
              <li>
                <a href="#" class="hover:text-yellow-99">Seja um restaurante</a>
              </li>
              <li>
                <a href="#" class="hover:text-yellow-99">Seja um entregador</a>
              </li>
            </ul>
          </div>
        </div>
        <div
          class="border-t border-gray-800 mt-8 pt-8 text-center text-gray-400"
        >
          <p>&copy; 2025 ifome. Todos os direitos reservados.</p>
        </div>
      </div>
</footer>