{% extends 'base.html' %}
{% block title %}iFome - Restaurante{% endblock %}
{% block content %}
    <div class="max-w-7xl mx-auto bg-white p-6 rounded-2xl shadow-lg">
        <div class="flex items-center gap-6">
            <img src="{{ url_for('static', filename=restaurante.imagem_restaurante.split('static/')[1]) }}" alt="Imagem do Restaurante" class="w-32 h-32 object-cover rounded-full mb-4">
            <h1 id="nome" class="text-3xl font-bold text-gray-800">Carregando...</h1>
            <span class="text-yellow-99-dark">★ 4.8</span>
        </div>

        <div class="mt-4">
            <label><b>Telefone</b></label>
            <p id="telefone" class="text-gray-600 mb-4"></p>
            <label><b>Endereço</b></label>
            <p id="endereco" class="text-gray-600 mb-4"></p>
            <label><b>Horário de funcionamento</b></label>
            <p id="hora_funcionamento" class="text-gray-600 mb-4"></p>
        </div>
    </div>

    <div id="container" class="max-w-7xl mx-auto mt-8 bg-white p-6 rounded-2xl shadow-lg">
        <h2 class="text-2xl font-bold text-gray-800 mb-4">Cardápio</h2>
        <ul id="cardapio" class="space-y-4">
            <!-- Itens do cardápio serão inseridos aqui via JavaScript -->
        </ul>

    </div>
{% endblock content %}

{% block scripts %}
    <script>
        const restauranteId = "{{ restaurante_id }}";

        // faz uma requisição assíncrona para buscar dados da API
        fetch(`/api/restaurantes/${restauranteId}`)
            .then(res => res.json())
            .then(data => {
                if (data.erro) {
                    document.getElementById('container').innerHTML = `<p class="text-red-500">${data.erro}</p>`;
                    return;
                }

                document.getElementById('nome').textContent = data.nome;
                document.getElementById('hora_funcionamento').textContent = `${data.hora_abertura} - ${data.hora_fechamento}`;
                document.getElementById('telefone').textContent = data.telefone;
                document.getElementById('endereco').textContent = `${data.endereco.rua}, ${data.endereco.numero} - ${data.endereco.bairro} - ${data.endereco.cidade}, ${data.endereco.estado}, ${data.endereco.cep}`;

                // const ul = document.getElementById('cardapio');
                // data.cardapio.forEach(item => {
                //     const li = document.createElement('li');
                //     li.className = "flex justify-between border-b pb-2";
                //     li.innerHTML = `<span>${item.nome}</span><span class="text-gray-700 font-medium">R$ ${item.preco}</span>`;
                //     ul.appendChild(li);
                // });
            })
            .catch(err => {
                document.getElementById('container').innerHTML = `<p class="text-red-500">Erro ao carregar restaurante.</p>`;
            });
    </script>
{% endblock %}