{% extends 'base.html' %} {% block content %}
<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="w-full max-w-md p-8 space-y-8 bg-white rounded-lg shadow-md">
    <div class="text-center">
      <h2 class="text-3xl font-extrabold text-gray-900">Acesse sua conta</h2>
      <p class="mt-2 text-sm text-gray-600">
        Ou
        <a
          href="{{ url_for('usuarios.cadastro') }}"
          class="font-medium text-yellow-99-dark hover:text-yellow-99"
          >crie uma conta gratuitamente</a
        >
      </p>
    </div>

    <form
      class="mt-8 space-y-6"
      action="{{ url_for('usuarios.login') }}"
      method="POST"
    >
      <input type="hidden" name="remember" value="true" />
      <div class="rounded-md shadow-sm -space-y-px">
        <div>
          <label for="email-address" class="sr-only">Email</label>
          <input
            id="email-address"
            name="identificador"
            type="text"
            autocomplete="email"
            required
            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-yellow-99 focus:border-yellow-99 focus:z-10 sm:text-sm"
            placeholder="Email ou Telefone"
          />
        </div>
        <div>
          <label for="password" class="sr-only">Senha</label>
          <input
            id="password"
            name="senha"
            type="password"
            autocomplete="current-password"
            required
            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-yellow-99 focus:border-yellow-99 focus:z-10 sm:text-sm"
            placeholder="Sua senha"
          />
        </div>
      </div>

      <div class="flex items-center justify-between">
        <div class="text-sm">
          <a
            href="#"
            class="font-medium text-yellow-99-dark hover:text-yellow-99"
          >
            Esqueceu sua senha?
          </a>
        </div>
      </div>

      <div>
        <button
          type="submit"
          class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-black bg-yellow-99 hover:bg-yellow-99-dark focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-99"
        >
          Entrar
        </button>
      </div>
    </form>
    <div class="relative my-4">
      <div class="absolute inset-0 flex items-center">
        <div class="w-full border-t border-gray-300"></div>
      </div>
      <div class="relative flex justify-center text-sm">
        <span class="px-2 bg-white text-gray-500"> ou continue com </span>
      </div>
    </div>

    <div class="space-y-4">
      <a
        href="{{ url_for('usuarios.login_google') }}"
        class="w-full flex justify-center items-center ..."
      >
        <svg
          class="w-5 h-5 mr-2"
          viewBox="0 0 48 48"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M47.532 24.555c0-1.554-.138-3.052-.41-4.49H24.387v8.472h13.007c-.562 2.742-2.163 5.078-4.66 6.676v5.51h7.08c4.146-3.82 6.56-9.47 6.56-16.168z"
            fill="#4285F4"
          />
          <path
            d="M24.387 48c6.49 0 11.93-2.14 15.89-5.776l-7.08-5.51c-2.162 1.45-4.92 2.31-7.81 2.31-6.01 0-11.08-4.04-12.9-9.47H4.11v5.68C7.99 42.49 15.6 48 24.387 48z"
            fill="#34A853"
          />
          <path
            d="M11.487 28.77c-.48-.96-.75-2.02-.75-3.11s.27-2.15.75-3.11V16.87H4.11C2.56 19.98 1.63 23.44 1.63 27.24s.93 7.26 2.48 10.37l7.377-5.84z"
            fill="#FBBC05"
          />
          <path
            d="M24.387 9.47c3.49 0 6.64 1.208 9.13 3.63l6.27-6.27C36.313 2.66 30.87.5 24.387.5 15.6.5 7.99 6.01 4.11 14.19l7.377 5.68c1.82-5.43 6.89-9.4 12.9-9.4z"
            fill="#EA4335"
          />
        </svg>
        Entrar com Google
      </a>
      <a
        href="{{ url_for('usuarios.login_facebook') }}"
        class="w-full flex justify-center items-center ..."
      >
        <svg
          class="w-5 h-5 mr-2"
          fill="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.879V14.89H8.078v-2.89h2.36V9.62c0-2.344 1.405-3.63 3.53-3.63 1.01 0 1.875.075 2.13.108v2.585h-1.52c-1.134 0-1.35.538-1.35 1.325v1.755h2.867l-.372 2.89h-2.495v7.008C18.343 21.128 22 16.991 22 12z"
          />
        </svg>
        Entrar com Facebook
      </a>
    </div>
  </div>
</div>
{% endblock %}
