<nav class="bg-white shadow-lg">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex justify-between items-center h-16">
                <div class="flex items-center">
                    <img class="h-12 w-auto" src="{{ url_for('static', filename='ifome-branco.png') }}" alt="ifome Logo" />
                </div>
                <div class="flex items-center space-x-4">
                    <a href="perfil" class="text-gray-700 hover:text-yellow-99">← Voltar ao perfil</a>
                </div>
            </div>
        </div>
</nav>